.myLineDecoration-modified {
  background: lightblue;
  width: 5px !important;
  margin-left: 3px;
}

.myLineDecoration-add {
  background: green;
  width: 5px !important;
  margin-left: 3px;
}

.myLineDecoration-delete {
  background: red;
  width: 5px !important;
  margin-left: 3px;
}

.myDecoration-function {
  background: var(--yellow-3);
}

.myDecoration-callsite {
  background: var(--yellow-2);
}

.myDecoration-vardef {
  background: var(--ruby-4);
}

.myDecoration-varuse {
  background: var(--ruby-2);
}

/* Do not show unresolved marks, because it contains too many noise, e.g.,
libraries, built-in keywords. */

/* .myDecoration-unresolved {
  text-decoration: wavy underline red;
} */

.react-flow__node-SCOPE.active {
  box-shadow:
    2px 2px 2px 2px rgba(208, 2, 27, 1),
    8px 8px 8px 8px rgba(218, 102, 123, 1);
}

.react-flow__node-SCOPE.selected {
  box-shadow: 0px 0px 8px 0px rgba(100, 100, 100, 0.5);
}

.react-flow__node-SCOPE.selected {
  border-width: 2px;
}

.react-flow__handle {
  z-index: 100;
}

/* Remove the right scrollbar on Remirror. */
.remirror-editor.ProseMirror {
  overflow-y: hidden !important;
}

.mention {
  background: #7963d266;
  padding: 2px 4px;
  border-radius: 4px;
}

.remirror-theme {
  /* Provide sufficient space to see the popup */
  --rmr-space-6: 400px;
}

/* remove the box-shadow that cause weird border corner. */
.remirror-theme .ProseMirror {
  box-shadow: none !important;
}

/* The style of current line highlight in Monaco */
.focused .remirror-line-highlight {
  background-color: rgba(223, 243, 205, 0.5);
}

/* The style of current line highlight in Monaco */
.monaco-editor .view-overlays .current-line {
  background-color: rgba(223, 243, 205, 0.5) !important;
}

.suggestions {
  border: 1px solid darkgray;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}
.suggestion {
  padding: 2px 8px;
}
.highlighted {
  background: #7963d233;
}
.hovered {
  background: #7963d222;
}

.react-flow__edges {
  z-index: 9999 !important;
}

.global-drag-handle {
  position: absolute;

  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1.25rem;
    content: "⠿";
    font-weight: 700;
    cursor: grab;
    background: #0d0d0d10;
    color: #0d0d0d50;
    border-radius: 0.25rem;
  }
}

/* Force display the vertical scrollbar. Ref:
https://codepen.io/stevenlewis/pen/jOKvMx */
.result-content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.result-content::-webkit-scrollbar:vertical {
  width: 11px;
}
.result-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

/* Set border radius for monaco-editor */
.overflow-guard {
  border-radius: 10px;
}

.monaco-editor {
  border-radius: 10px;
}

/* Make lucide icons respect current fontSize. */
.lucide {
  width: 1.3em;
  height: 1.3em;
}
